@model TextConverter.Models.TextForConverting

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Text Converter</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css"/>
</head>
<body>
    <div class="center">
        @using (Html.BeginForm())
        {
            <div class="input-text-control">
                @Html.TextAreaFor(x => x.InputText, new { @class = "input-text-area", placeholder = "Enter text for converting...", rows = "15" })
            </div>
            <div class="submit-button-area">  
                <span class="label">Choose format to convert:</span>              
                @Html.EnumDropDownListFor(text => text.TextFormat, new { @class = "text-formats-list" })
                <input type="submit" name="convert_btn" value="Convert..." />
            </div>
        }
        <div class="result-block">            
            <pre>@Model.ConvertedText</pre>
        </div>
    </div>
</body>
</html>
