.center {
    margin: auto;
    width: 60%;
    padding:10px;
    min-width:500px;
}

.label {
    font-size: large;
    vertical-align:middle;
}

textarea {
    width: 100%;
    resize: none;
    padding: 5px;  
    border: 0.1em solid #ccc;
  	border-radius: 0.5em;
    outline:none;   
    background-color: rgb(233, 255, 255);
    font-size:1.2em;
}

textarea:focus {
    background-color: rgb(255, 255, 255);
}

textarea::-moz-placeholder {
    font-size:1.5em;
}

textarea::-webkit-input-placeholder{
    font-size:1.5em;
}

textarea:-ms-input-placeholder{
    font-size:1.5em;
}

.input-text-control{
    width: 100%;
    margin: 5px 10px 5px 0px;
}

.submit-button-area {
    margin: 5px 10px 10px 0;
}

.text-formats-list{
    width:100px;
    height:30px;
    font-family: 'Times New Roman', Times, serif ;
    font-size:20px;
    vertical-align:middle;
}

input[type=submit] {
    height:30px;
    width:100px;
    font-family: 'Times New Roman', Times, serif ;
    font-size:20px;
    vertical-align:middle;
    margin: 5px 5px;
}

.result-block{
    width: 100%;    
    padding: 5px;
    min-height: 200px;
    background-color: rgb(233, 255, 255);
    border: 0.1em solid #ccc;
  	border-radius: 0.5em;
    font-size:1.2em;
}

.result-block pre{
    white-space:pre-wrap;
    word-wrap:break-word;
}

.result-text-area{
    height: 100%;
}
